{% extends 'layout.html' %}
{% block title %} 
    Menu
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/nivo-slider.css">
<section class="cid-szI03j8wDO home">
    <div class="in-flex">
      <h2>Quienes somos</h2>
      Comercial Avdel es una empresa familiar 100% nicaragüense con principios Cristianos (Servidores de DIOS) con valor agregado para nuestros clientes, les ofrecemos servicios especializados de Bordados y Sublimación creado al deseo y necesidad de nuestros clientes. 
      <br><br>
      <h2>Mision</h2>
      Comercial Avdel empresa dedicada a la imagen y presentación de negocios nicaragüenses dedicados a brindar servicios de Bordados, Sublimación disponiendo una gran variedad de artículos promocionales brindamos soluciones integradas, eficientes e innovadoras a las necesidades del mercado con la calidad que nos identifica y comprometidos con nuestros clientes garantizando un servicio de alta calidad.       
      <br><br>
      <h2>Vision</h2>
      Ser una empresa líder en el mercado, proveer nuestros servicios a todos los sectores empresariales y comerciales, brindando el mejor servicio y calidad del producto.      
      <br><br>
      <h2>Valores</h2>
      Trabajamos con respeto, honestidad, puntualidad, transparencia y humildad para generar confianza con quienes nos relacionamos.     
      <br><br>
      <h2>Objetivos</h2>
      Nuestra empresa se basa en la creatividad de nuestros clientes a la hora de plasmar un mensaje, una historia o simplemente una idea que harán de presentar atraves de su logotipos, haciendo que seamos lideres en calidad y servicio, ampliando en más puntos de venta hasta lograr posicionarnos en un mercado estable. con el objetivo de inducir a nuestros clientes vistan de una manera original, elegante y ofrecerles un productos y servicios de primera calidad.       
      <br><br>
    </div>
    <div class="in-flex">
      <div>
          <h2>Propietarios</h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse officia vel, illo excepturi temporibus aperiam itaque pariatur tempore deleniti dignissimos nobis necessitatibus. Commodi adipisci, neque rem maxime assumenda fuga magni!
        </div>
      <div><center><img src="../static/img/fon.jpg" class="img-thumbnail"></center></div>
    </div>
</section>

{% endblock %}