{% extends 'layout.html' %}
{% block title %} 
    Menu
{% endblock %}
{% block home %}
	<link rel="stylesheet" href="../static/css/nivo-slider.css">
	<link rel="stylesheet" href="../static/css/mi-slider.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
	<script src="../static/js/jquery.nivo.slider.js"></script>

	<script type="text/javascript"> 
		$(window).on('load', function() {
		    $('#slider').nivoSlider(); 
		}); 
	</script>
	<div class="slider-wrapper theme-mi-slider">
		<div id="slider" class="nivoSlider">     
		    <img src="../static/img/1.jpg" alt="" title="#htmlcaption1" />    
		    <img src="../static/img/2.jpg" alt="" title="#htmlcaption2" />    
		    <img src="../static/img/3.jpg" alt="" title="#htmlcaption3" />     
		</div> 
		<div id="htmlcaption1" class="nivo-html-caption">     
		    <h1>Sean Bienvenidos</h1>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div id="htmlcaption2" class="nivo-html-caption">     
		    <h1>Acerca de Nosotros</h1>
		</div>
		<div id="htmlcaption3" class="nivo-html-caption">     
		    <h1>Gracias por visitar</h1>
		</div>
	</div>
{% endblock %}
{% block content %}
<body>
<section class="features4 cid-szI03j8wDO" id="features4-n">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h4 id="serv" class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Servicios</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre1.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Camisas vestir premium</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Website Design</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Mobirise is an easy website builder. Just
                            drop site elements to your page, add content and style it to look the way you like.</p>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre2.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Camisas OXFORD</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            HTML/CSS Coding</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code to create your own
                            site. Select one of available themes in the Mobirise Site Maker.</p>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre3.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Camisas Columbias</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
			<div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre4.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Gorras personalidas</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
			<div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre5.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Chaquetas</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
			<div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre6.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Camisas DRIFFYT</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre7.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>POLO PIKET</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre8.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>SPORT U-WAFFYT</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../static/img/pre9.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Sublimacion</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Creating Your Brand</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits you. Each theme
                            in the Mobirise Website Software contains a set of unique blocks.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}